VITE_API_URL=http://localhost:5050/api
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_xxx
VITE_PAYPAL_CLIENT_ID=test
VITE_GOOGLE_CLIENT_ID=589157336058-rnkgg52i458s2o7icoh39rcnnpp87e5i.apps.googleusercontent.com
